.border{
    background: wheat;
    padding: 10px;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.logo{
    max-height: 50px;
}
.user-input{
    width: 100%;
}
.searchResults{
    position:absolute
}